@import url('https://fonts.googleapis.com/css?family=Montserrat');

$padding: 15px;
$borders:15px;
$margin: 50px;

main {

    .intro {
        background: white;
        padding: 20px;
        margin: 1em auto;
        border-radius: $borders;
        box-shadow: 0 10px 30px black;
        width: 80%;

        h1 {
            font-size: 60px;
            color: rgb(24, 23, 23);
            // margin-top: 10px;
            text-transform: uppercase;
            // padding: $padding;
            margin: $margin;
        }
    
        h3 {
            font-size: 40px;
            color: rgb(24, 23, 23);
            // margin-top: 1px;
            text-transform: uppercase;
            margin-left: 220px;
        }
    }
    
}