@import url('https://fonts.googleapis.com/css?family=Montserrat');

$padding: 15px;
$borders:15px;

.sideNav {
    color: white;
    text-decoration: none;
    padding: $padding;
    display: block;
    text-transform: uppercase;
}